body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
	padding: 0em 1rem;
	width: 100%;
	border: 0 none;
	float: none;
	border-radius: 0;
	transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s, opacity .2s;
}
#layout-footer {
	background-color: #b9b9b9;
	color: #ffffff;
	text-align: center;
	text-size:25px;
	bottom: 0;
}